* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    /* margin-top:110px; */
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    flex-direction: column;
}

.title {
    height:20vh;
    width:100%;
    width:50vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-style:italic;
    font-size:xx-large;
    color:gold;
    /* border:1px solid black; */
}

.container {
    height:60vh;
    width:50vw;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightgrey;
    border:2px solid black;
    border-radius: 3%;
}

.row-container {
    height:100%;
    width:100%;
    /* background-color: blue; */
    display:flex;
    flex-wrap: nowrap;
}

.block {
    height:100%;
    width:25%;
    /* border:1px solid black; */
    /* background-color: black; */
}

.toggles {
    display:flex;
    height:20vh;
    width:100%;
    /* border:1px solid black; */
    justify-content: space-between;
    /* border:1px solid black; */
}

.toggle-one {
    /* height:20vh; */
    height:90%;
    width:20vh;
    margin-left:60px;
    border:1px solid black;
    background:white;
    border-radius:100%;
    /* margin-top:20px; */
}

.toggle-two {
    height:90%;
    width:20vh;
    border:1px solid black;
    margin-right:60px;
    background:white;
    border-radius:100%;
    /* margin-top:20px; */
}